@import "../../scss/colors.scss";

.task {
	display: flex;
	&__input-wrapper {
		width: 100%;
	}

	input[type="text"] {
		margin-bottom: 12px;
		font-size: 14px;
		width: 100%;
		&:focus-visible {
			outline: 1px dotted $gray-6;
			outline-offset: 2px;
		}
	}
}

.checkbox-wrapper {
	display: flex;
	align-items: center;
	margin-right: 8px;
	transform: translateX(4px);
}
