/* #1f2022 */
/* #252529 */
/* #2a2b2f */
/* #303236 */
/* #717680 */
/* #babdc1 */
/* Orange: #fe8f4e */
/* Purple: #9e6cfa */

$gray-1: #1f2022;
$gray-2: #252529;
$gray-3: #2a2b2f;
$gray-4: #303236;
$gray-5: #717680;
$gray-6: #babdc1;
$orange: #fe8f4e;
$purple: #9e6cfa;
